@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-4 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                All your <span class="texthighlight">contacts</span> in
                one place
            </h1>
            <div class="subtitle">
                No contact is left behind, with mycontacts.digital. A better way to organize events and keep everyone in the loop!<br><br><strong>Built with pride using cutting edge tech:</strong>
                <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-7 text-center">
        <img src="~/img/mycontactsdigital-banner-v1.svg" class="img-fluid header-img">
    </div>
</div>
